h1,h2,h3{
    text-align: center;
}
.resources{
    display: flex;
    
}
.general{
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: aquamarine;
}
.specific{
    
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: cyan;
}
.img{

    height: auto;
    width: 90px;
    align-items: center;
}
.list{
    list-style: disc;
}
#list{
    list-style: none;
}
a{
    font-size: larger;
    font-weight: bold;
    text-align: center;
    
}
.inside{
    
    display: flex;
    flex:blue;

    
}
.space{
    width: 50%;
    height: auto;
}
.kanji{
    

}
.grammar{
   
}
.vl{
    border-left: 5px solid blueviolet;
    height: auto;
}
span{
    font-size: small;
    text-align: justify;
    color: black;
}