h1,h2,h3{
    text-align: center;
}
.resources{
    display: flex;
    
}
.general{
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: aquamarine;
}
.specific{
    
    width: 50%;
    height: auto;
    text-align: justify;
    background-color: cyan;
}
.img{

    height: auto;
    width: 90px;
    align-items: center;
}
li{
    list-style: none;
}
a{
    font-size: larger;
    font-weight: bold;
    text-align: center;
}
.inside{
    
    display: flex;
    flex:blue;
    
    
}
.space{
    width: 25%;
    height: auto;
}
.kanji{
    background-color: firebrick;
}
.grammar{
    background-color: forestgreen;
}
.dictionary{
    background-color: goldenrod;
}
.apps{
    background-color: indigo;
}