CSS:
                            
/* Global styles */

body {
background-color: #f7f7f7;
font-family: "Open Sans", sans-serif;
margin: 0;
padding: 0;
}

.title {
text-align: center;
font-size: 3em;
margin-top: 1em;
margin-bottom: 1em;
padding-bottom: 0.5em;
border-bottom: 5px solid #ffa600;
}

.img {
width: 50px;
height: 50px;
}

.line {
border-top: 2px solid #ffa600;
margin-top: 1em;
margin-bottom: 1em;
}

.subtitle {text-align: center;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #ffa600;
    }
    
    .resources {
    display: flex;
    justify-content: space-between;
    }
    
    .general {
    width: 30%;
    }
    
    .specific {
    width: 70%;
    }
    
    .inside {
    display: flex;
    justify-content: space-between;
    }
    
    .space {
    width: 30%;
    }
    
    .list {
    list-style: none;
    }
    
    .list-item {
    font-size: 1.2em;
    margin-bottom: 1em;
    }
    
    .list-item a {
    color: #ffa600;
    text-decoration: none;
    }